/* Header */

.header{
    background-color: #3c5a9a;
}

/* Sidebar */



/* Content */

.item__images{
    
    max-height: 450px;
    
    overflow: hidden;
}

.item__images img{
    width: 100%;

}
/* Modal  */
#exampleModal .modal-body img{
    width: 100%;
}

