.divider {
    display: flex;
    align-items: center;
  }

  .divider::before, .divider::after {
    flex: 1;
    content: '';
    padding: 1px;
    background-color: rgb(182, 182, 182);
    margin: 5px;
  }